@model DocumentSearcher.Models.User

@{
    ViewBag.Title = "LogIn";
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "Login failed.");
    <div>
        <fieldset>
            <legend>Login Form</legend>
            <div class="row">
                <div class="form-group col-md-5">
                    <div>@Html.LabelFor(u => u.Login)</div>
                    <div>
                        @Html.TextBoxFor(u => u.Login, new { @class = "form-control" })
                        @Html.ValidationMessageFor(u => u.Login)
                    </div>

                    <div>@Html.LabelFor(u => u.Password)</div>
                    <div>
                        @Html.PasswordFor(u => u.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(u => u.Password)
                    </div>
                    <input type="submit" value="Log In" class="btn" style="margin-top:10px" />
                </div>
            </div>
        </fieldset>
    </div>
}

